/DataMapper.class
/DataProvider.class
/KeywordHandler.class
/PatternHandler$Result.class
/PatternHandler.class
/SeparatorHandler.class
/SequenceHandler.class
/StandardKeywordHandler.class
/StandardSeparatorHandler.class
/StandardSequenceHandler.class
/StandardWhitespaceHandler.class
/WhitespaceHandler.class
