/NoCaseSequenceStore.class
/PatternMatcher$DataProviderCharSequence.class
/PatternMatcher$LocalResult.class
/PatternMatcher.class
/SequenceStore$PropertyList.class
/SequenceStore$SpecialSequencesIterator.class
/SequenceStore.class
